<ul class="nav navbar-nav navbar-right">
    <li><a href="/">Main</a> </li>
  {{#if currentUser}}
    <li><a href="/logout">Logout</a></li>
    <li><a href="/images/upload">Upload Image</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
  {{/if}}
</ul>
